body {
  background: linear-gradient(white, transparent),
    linear-gradient(to top left, #4fa49a, transparent),
    linear-gradient(to top right, #9dc66b, transparent) !important;
  background-blend-mode: screen;
}

.header {
  color: #4686a0;
  margin-top: 31px;
  margin-left: 35px;
}

.quote {
  font-style: italic;
}

#gif {
  width: 270px;
  height: 130px;
}

.right-flex2 {
  float: right;
  margin-right: 125px;
  margin-top: -80px;
}

#button {
  width: 285px;
  margin: -3px;
}
.button {
  margin: 5px;
  margin-left: 35px;
}

form[name='loginForm'] {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  margin-left: 2%;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 10px;
}

label {
  min-width: 75px;
  width: 75px;
  font-weight: bold;
  font-size: 15px;
}

input[type='email'],
input[type='password'] {
  box-sizing: border-box;
  height: 25px;
  padding: 3px;
  flex-grow: 1;
  font-size: 13px;
}

input[type='submit'] {
  align-self: flex-end;
  width: 80px;
  height: 30px;
  border: 3px solid lightgray;
  border-radius: 15px;
  font-size: 10px;
  background: white;
}

.message {
  font-size: 15px;
  margin-top: -25px;
  margin-left: 225px;
  text-align: left;
}

ul {
  list-style-type: none;
}

.profile {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.welcome {
  margin-top: 20px;
  padding-top: 25px;
  color: #1e6b5e;
  margin-bottom: 20px;
}

.view-container {
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
.list {
  font-size: 18px;
  padding: 5px;
  color: rgb(93, 91, 91);
}

.list2 {
  font-size: 18px;
  padding: 5px;
  color: rgb(93, 91, 91);
  margin-top: -1%;
}

.trans-container {
  margin-top: 5%;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  font-family: -apple-system;
  font-size: 90%;
  color: #333;
}

/* .box-header {
  margin-top: 30px;
} */

.row-header {
  font-weight: 600;
}

.row-content {
  color: rgb(93, 91, 91);
}

.create-form {
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: lightgray;
  padding: 15px;
  padding-bottom: 25px;
}

#submit {
  float: right;
  margin-top: 30px;
}
