body {
  background: linear-gradient(white, transparent),
    linear-gradient(to top left, #4fa49a, transparent),
    linear-gradient(to top right, #9dc66b, transparent) !important;
  background-blend-mode: screen;
}
.header {
  color: #4686a0;
  margin-top: 2%;
  margin-left: 3%;
}

.quote {
  margin-top: -1%;
  font-style: italic;
}

#gif {
  width: 260px;
  height: 120px;
}

.background {
  height: 100%;
  width: 100%;
  position: relative;
}
.button{
  margin: 1%;
  margin-left: 3%;
}
.goback_button{
  margin-left: 5%;
}
form[name='loginForm'] {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  margin-left: 2%;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 10px;
}

label {
  min-width: 75px;
  width: 75px;
  font-weight: bold;
  font-size: 15px;
}

input[type='email'],
input[type='password'] {
  box-sizing: border-box;
  height: 25px;
  padding: 3px;
  flex-grow: 1;
  font-size: 13px;
}

input[type='submit'] {
  align-self: flex-end;
  width: 80px;
  height: 30px;
  border: 3px solid lightgray;
  border-radius: 5px;
  font-size: 10px;
  background: white;
}

.message {
  font-size: 15px;
  margin-top: 10px;
  text-align: right;
}
ul {
  list-style-type: none;
}

.profile {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.profile_pic {
  margin-left: 3.5%;
  margin-bottom: 1%;
}
.profile_name {
  margin-left: 3.5%;
  margin-top: 1%;
  margin-bottom: 2%;
  color: #1e6b5e;
  font-weight: 800;
}

.welcome {
  padding-top: 25px;
  color: #1e6b5e;
  margin-bottom: 2%;
}

.list {
  font-size: 18px;
  padding: 5px;
  color: rgb(93, 91, 91);
}

.list2 {
  font-size: 18px;
  padding: 5px;
  color: rgb(93, 91, 91);
  margin-top: -1%;
}

.viewContainer {
  height: 100%;
  width: 100%;
  margin-top: 2%;
  /* margin-left: 1%; */
}

.viewTransaction {
  margin-top: -1%;
  margin-left: 3%;
  margin-bottom: 1.5%;
}

.transContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  font-family: -apple-system;
  font-size: 90%;
  color: #333;
}

.table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
} 

.td,
.th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 20px;
  color: rgb(93, 91, 91);
} 
